<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.data.admin.AdminMapper">
    <insert id="addUser" parameterType="com.example.hotel.po.User" useGeneratedKeys="true" keyProperty="id">
        insert into User(email,password,usertype,phonenumber,username)
        values(#{email},#{password},#{userType},#{phoneNumber},#{userName})

    </insert>
    <insert id="addHotel" parameterType="com.example.hotel.po.Hotel"
            useGeneratedKeys="true" keyProperty="id">
        insert into Hotel(address,bizRegion,hotelDescription,hotelDetail,hotelStar,hotelName,phoneNum,rate)
        values (#{address},#{bizRegion},#{description},#{detail},#{hotelStar},#{hotelName},#{phoneNum},#{rate})
    </insert>
    <select id="getUserList" resultMap="User">
        select * from User where usertype=#{type}
    </select>
    <select id="getUserInfo" resultMap="User">
        select * from User where id=#{id}
    </select>
    <select id="getHotelInfo" resultMap="Hotel">
        select * from hotel  where id=#{hotelId}
    </select>
    <update id="updateUserInfo" parameterType="com.example.hotel.po.User" >
        update user set email=#{email},phonenumber=#{phoneNumber},username=#{userName},password=#{password} where id=#{id}
    </update>
    <update id="updateHotel" parameterType="com.example.hotel.po.Hotel" >
    update hotel set manager_id=#{managerId} where id=#{id}
    </update>
    <delete id="deleteHotel" parameterType="int">
        delete from hotel where
            id=#{hotelId}
    </delete>
    <delete id="deleteUser" parameterType="int">
        delete from user where
            id=#{id}
    </delete>



    <resultMap id="User" type="com.example.hotel.po.User">
        <id column="id" property="id"></id>
        <result column="email" property="email"></result>
        <result column="password" property="password"></result>
        <result column="username" property="userName"></result>
        <result column="phonenumber" property="phoneNumber"></result>
        <result column="credit" property="credit"></result>
        <result column="usertype" property="userType"></result>
    </resultMap>
    <resultMap id="Hotel" type="com.example.hotel.po.Hotel">
    <id column="id" property="id"></id>
    <result column="address" property="address"></result>
    <result column="bizRegion" property="bizRegion"></result>
    <result column="hotelDescription" property="description"></result>
    <result column="hotelStar" property="hotelStar"></result>
    <result column="hotelName" property="hotelName"></result>
    <result column="phoneNum" property="phoneNum"></result>
    <result column="rate" property="rate"></result>
    <result column="manager_id" property="managerId"></result>
    </resultMap>
</mapper>